<div class="col-md-4 text-center animate-box fadeInUp animated-fast">
<a href="/books/{{id}}">
    <div class="product">
        <div class="product-grid" style="background-image:url({{image_url}});">
            <div class="inner">
                <img class="img-responsive" src="{{book.image_url}}" alt="{{book.title}}">
            </div>
        </div>
        <div class="desc">
            <h3>{{title}}</h3>
        </div>     
    </div>
</a>
</div>