<div class="container tex">
    <div class="text-center pt-5" style="font-family: 'Courier New', Courier, monospace">
        <h2>Update This Book</h2>
        <p><em>All fields are required</em></p>
    </div>

    <div class="row">
        <form class="new-book-form">
            <div class="pt-2" style="font-family: 'Courier New', Courier, monospace">
                <label for="title">
                    <h4>Title</h4>
                </label>
                <input type="text" id="title" class="form-control" value="{{book.title}}"
                    style="font-family: 'Courier New', Courier, monospace">
            </div>

            <div class="pt-2">
                <label for="author" style="font-family: 'Courier New', Courier, monospace">
                    <h4>Author</h4>
                </label>
                <input type="text" id="author" class="form-control" value="{{book.author}}"
                    style="font-family: 'Courier New', Courier, monospace">
            </div>

            <div class="pt-2">
                <label for="summary" style="font-family: 'Courier New', Courier, monospace">
                    <h4>Summary</h4>
                </label>
                <textarea name="summary" id="summary" cols="30" rows="10" class="form-control"
                    style="font-family: 'Courier New', Courier, monospace"
                    value="{{book.summary}}">{{book.summary}}</textarea>
            </div>

            <div class="pt-2">
                <label for="image_link" style="font-family: 'Courier New', Courier, monospace">
                    <h4>Image link</h4>
                </label>
                <input type="text" id="image_link" class="form-control"
                    style="font-family: 'Courier New', Courier, monospace" value="{{book.image_url}}">
            </div>

            <div class="pt-2" style="font-family: 'Courier New', Courier, monospace">
                <label for="category">
                    <h4>Category</h4>
                </label>
                <div class="col-md-12">
                    <select id="category" class="select-css" style="font-family: 'Courier New', Courier, monospace">
                        <option value="">Please choose a category</option>
                        <option value="Fiction">Fiction</option>
                        <option value="Nonfiction">Nonfiction</option>
                        <option value="Drama">Drama</option>
                        <option value="Poetry">Poetry</option>
                        <option value="Folklore">Folklore</option>
                    </select>
                </div>
            </div>

            <div class="form-group mt-40 text-center d-flex justify-content-center pt-3">
                <input type="submit" value="Update" class="btn btn-primary">
                <div class="pt-2 col-1">
                    <a href="/books" class="btn btn-secondary">Cancel</a>
                </div>
                <input type="submit" value="Delete" class="btn btn-primary delete-book-btn">
            </div>

        </form>
    </div>
</div>
</div>

<script src="/javascript/delete-post.js"></script>
<script src="/javascript/edit-post.js"></script>