<div class="container" style="font-family: 'Courier New', Courier, monospace">
    <div class="row pt-5 text-center">
        <h2>{{book.title}}</h2>
    </div>

    <div class="pt-5">
        <a href="/books/{{id}}" class="col-3">
            <div class="d-flex justify-content-center">
                <img src="{{book.image_url}}" width="300px" height="400px" alt="{{book.title}}">
            </div>
        </a>
        <div class ="pt-5 d-flex justify-content-center">
            <div class="col-4">
                <h2>Author</h2>
                <h4>{{book.author}}</h4>
            </div>
            <div class="col-4">
                <h3>Summary</h3>
                <p>{{book.summary}}</p>
            </div>
        </div>
        <div class="col-md-12 text-center mt-25" style="margin: 20px">
            <h4>Posted by {{book.user.username}} on {{format_date book.created_at}}</h4>
        </div>
    </div>

    {{#if book.comments.length}}
    {{> comments book.comments}}
    {{/if}}

    {{#if loggedIn}}
    <div class="row animate-box">
        <div class="col-md-10 col-md-offset-1">
            <h3>Add a comment</h3>

            <form class="comment-form">
                <div class="row form-group">
                    <div class="col-md-12">
                        <textarea name="comment" id="comment" cols="10" rows="4" class="form-control"
                            placeholder="Add your comment here"></textarea>
                    </div>
                </div>

                <div class="form-group mt-40 text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>

            </form>
        </div>
    </div>
    {{/if}}
</div>


{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}